/node_modules
/public/node_modules
/public/hot
/public/storage
/public/css/stisla/*
/public/fonts
/public/js/stisla/master.js
/public/webfonts
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
